<div class="card">
  <div class="card-header">
    <h1>Editar de Proposta de Estágio</h1>
  </div>
  <br />
  <div class="alert alert-success" role="alert" *ngIf="sucesso">
    Edição realizada com sucesso!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="error">
    Não foi possivel realizar a edição!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <form action="editar" #editar="ngForm" (subimit)="enviarDados()">
      <div class="col-md-6 mb-3">
        <label>Título <span class="required">*</span></label>
        <input
          type="text"
          class="form-control"
          name="titulo"
          [(ngModel)]="titulo"
          #selectTitulo="ngModel"
          required
          [class.is-invalid]="
            selectTitulo.invalid && (selectTitulo.dirty || selectTitulo.touched)
          "
        />

        <small
          class="form-text text-muted"
          *ngIf="
            !(
              selectTitulo.invalid &&
              (selectTitulo.dirty || selectTitulo.touched)
            )
          "
          >Insira um título.</small
        >
        <div
          *ngIf="
            selectTitulo.invalid && (selectTitulo.dirty || selectTitulo.touched)
          "
          class="invalid-feedbanck"
        >
          <samp *ngIf="selectTitulo.errors.required"
            >O título deve ser inserido.</samp
          >
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label>Conceitos <span class="required">*</span></label>
        <textarea
          class="form-control"
          name="conceitos"
          [(ngModel)]="conceitos"
          #selectConceitos="ngModel"
          required
          [class.is-invalid]="
            selectConceitos.invalid &&
            (selectConceitos.dirty || selectConceitos.touched)
          "
        ></textarea>

        <small
          class="form-text text-muted"
          *ngIf="
            !(
              selectConceitos.invalid &&
              (selectConceitos.dirty || selectConceitos.touched)
            )
          "
          >Insira os conceitos.</small
        >
        <div
          *ngIf="
            selectConceitos.invalid &&
            (selectConceitos.dirty || selectConceitos.touched)
          "
          class="invalid-feedbanck"
        >
          <samp *ngIf="selectConceitos.errors.required"
            >Os conceitos devem ser inseridos.</samp
          >
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label>Resultados Esperados <span class="required">*</span></label>
        <textarea
          class="form-control"
          name="resultados"
          [(ngModel)]="resultados"
          #selectResultados="ngModel"
          required
          [class.is-invalid]="
            selectResultados.invalid &&
            (selectResultados.dirty || selectResultados.touched)
          "
        ></textarea>

        <small
          class="form-text text-muted"
          *ngIf="
            !(
              selectResultados.invalid &&
              (selectResultados.dirty || selectResultados.touched)
            )
          "
          >Insira os resultados esperados.</small
        >
        <div
          *ngIf="
            selectResultados.invalid &&
            (selectResultados.dirty || selectResultados.touched)
          "
          class="invalid-feedbanck"
        >
          <samp *ngIf="selectResultados.errors.required"
            >Os resultados esperados devem ser inseridos.</samp
          >
        </div>
      </div>

      <div class="col-md-6">
        <button
          type="button"
          class="btn btn-success"
          (click)="enviarDados()"
          [disabled]="editar.invalid"
        >
          <i class="fas fa-check"></i>
          Salvar
        </button>
        <button type="reset" class="btn btn-secondary ml-2">Limpar</button>
      </div>
    </form>
  </div>
</div>
